@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.note{
    color: red;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%
}

header {
    width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .nombre{
      text-align: center;
      margin: 3% 0 3% 0;
      width: 100%;
  }
  .profile{
      width: 20%;
    .profilePhoto{
        border-radius: 50%;
    }
  }
}

section{
    width: 90%;
    margin: 3% 0 3% 0;
    display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.perfilProfesional {
  
}
.infoAcademica {
  
}
.experienciaLaboral {
  
}
.referencias {
  
}
footer {
  
}
