/* Coolors Exported Palette - coolors.co/fcde9c-ffa552-ba5624-381d2a-c4d6b0 */

/* HSL */
$color1: hsla(41%, 94%, 80%, 1);
$color2: hsla(29%, 100%, 66%, 1);
$color3: hsla(20%, 68%, 44%, 1);
$color4: hsla(331%, 32%, 17%, 1);
$color5: hsla(88%, 32%, 76%, 1);

/* RGB */
$color1: rgba(252, 222, 156, 1);
$color2: rgba(255, 165, 82, 1);
$color3: rgba(186, 86, 36, 1);
$color4: rgba(56, 29, 42, 1);
$color5: rgba(196, 214, 176, 1);